<div class="container">
    <h2>Открыть счет в Альфа-Банке</h2>
    <!-- <form data-reactroot="" class="nf-form" action="https://anketa.alfabank.ru/ona/lead" method="POST"> -->
    <form data-reactroot="" class="nf-form" action="http://localhost:8080/lead" method="POST">
        <span>
            <div class="b-widget b-widget_phone">
                <label>
                    <input type="tel" name="phone" value="+7 911 111-11-11" autocomplete="off" autocorrect="off" autocapitalize="none">
                    <span class="placeholder">ваш телефон</span>
                </label>
            </div>
            <input type="hidden" name="region" value="moscow" class="">
            <input type="hidden" name="clear" value="" class="">
            <input type="hidden" name="dev" value="dev" class="">
            <input type="hidden" name="regionCode" value="77" class="">
            <input name="city" value="Москва" class="">
            <input type="hidden" name="advCode" value="" class="">
            <input type="hidden" name="platformId" value="alfasite" class="">
            <div class="b-widget_submit b-widget_submit__disabled">
                <input type="submit" name="submitButton" value="Отправить">
            </div>
        </span>
    </form>
</div>
