<!DOCTYPE html>
<html>
  <head>
    <title>Potok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer class="bs-docs-footer"> 
  	<div class="container"> 
  		<p>Сделано с любовью на Хакатоне по рискам в Альфа-Лаборатории, Team 2+2 (Альфа-Банк), 4 фев 2017</p> 
  	</div> 
  </footer>
</html>
